<div class="container">
    <h1>{{'Calculation.Multiplication' | translate}}</h1>
    <hr>
    <form #summationForm="ngForm">
        <div class="row">
            <div class="form-group">
                <div class="col-xs-3">
                    <label for="firstArg">{{'Calculation.Arg1' | translate}}</label>
                </div>
                <div class="col-xs-6">
                    <input type="number" class="form-control" id="firstArg" required [(ngModel)]="firstArg" name="first"
                           #first="ngModel">

                    <div [hidden]="first.valid || first.pristine" class="alert alert-danger">
                        {{'Common.RequiredFiled' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group">
                <div class="col-xs-3">
                    <label for="secondArg">{{'Calculation.Arg2' | translate}}</label>
                </div>
                <div class="col-xs-6">
                    <input type="number" class="form-control" id="secondArg" required [(ngModel)]="secondArg"
                           name="second"
                           #second="ngModel">
                    <div [hidden]="second.valid || second.pristine" class="alert alert-danger">
                        {{'Common.RequiredFiled' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <br>
    <button type="submit" class="btn btn-success" (click)="calculate()" [disabled]="!summationForm.form.valid">
        {{'Common.Submit' | translate}}
    </button>
    <br>
    <div [hidden]="!submitted">
        <hr>
        <div class="row">
            <div class="col-xs-3">{{'Common.Result' | translate}}</div>
            <div class="col-xs-6  pull-left">{{ result }}</div>
            <div class="col-xs-3  pull-right">
                <button class="btn btn-primary" (click)="clearInputs()">
                    {{'Common.Clear' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>