<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="text-uppercase">Our Services</h2>
                <div class="divider"></div>
                <p>Choose an action in the list below.</p>
            </div>
            <div *ngFor="let action of actions" class="col-md-4 ">
                <div class="pv-30 ph-20 service-block bordered shadow text-center object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                    <span class="icon bg-df circle"><i class="fa fa-diamond"></i></span>
                    <h3>{{action.Title}}</h3>
                    <div class="divider clearfix"></div>
                    <p>{{action.Description}}</p>
                    <a [routerLink]="action.RelativeLink">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>